/* Sizing*/
.jumbotron {
  height: 40rem;
}

h1 + p {
  font-size: 1.2rem;
}

h2 {
  font-size: 1.7rem;
  font-style: italic;
}

p {
  font-size: 1.3rem;
}

/* Typography */
h1, h2, h3, h4, h5, h6 { 
  font-family:font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

h1, .h1, h2, .h2, h3, .h3 { 
  margin-top:30px;
} 


